@use "../global" as *;

.p-access {

  &__map {
    width: 100%;
    height: 50rem;

    @include mq-down() {
      height: 10rem;
    }
  }

  &__conts {
    justify-content: space-between;
    margin-top: 7rem;
    display: flex;

    @include mq-down(lg) {
      display: block;
    }

    @include mq-down() {
      margin-top: 25rem;
      display: block;
    }
  }

  &__ttl {
    width: 30%;

    @include mq-down() {
      width: 100%;
    }

    & h1 {
      @include mq-down() {
        line-height: 1.3;
      }
    }

    & p {
      @include mq-down() {
        font-size: 1.5rem;
      }
    }
  }

  &__cont {
      max-width: 70%;

      @include mq-down(lg) {
        width: 100%;
        margin-top: 5rem;
      }

      @include mq-down() {
        max-width: 100%;
        margin-top: 3rem;
      }

      &--txt {
      line-height: 2.5rem;
      font-size: 1.25rem;

      @include mq-down() {
        font-size: 1.35rem;
      }
    }

    &Contact {
      justify-content: flex-start;

      @include mq-down() {
        display: block;
        margin-top: 3rem;
        line-height: 1.3;
      }
    }

    &Addr {
      padding-left: 1rem;

      @include mq-down() {
        padding-left: 2rem;
      }

      &--hd {
        color: $default-color;

        @include mq-down() {
          font-size: 2rem;
        }
      }

      &--txt {
        margin-top: 1rem;
        font-size: 1.5rem;

        @include mq-down() {
          font-size: 1.5rem;
          margin-top: 0;
        }
      }
    }

    &Tel {
      padding-left: 1rem;
      margin-left: 7rem;

      @include mq-down() {
        padding-left: 2rem;
        margin-top: 3rem;
        margin-left: 0;
      }

      &--hd {
        color: $default-color;

        @include mq-down() {
          font-size: 2rem;
        }
      }

      &--txt {
        margin-top: .5rem;
        font-size: 1.5rem;

        @include mq-down() {
          font-size: 1.5rem;
          margin-top: 0;
        }
      }
    }

    &List {
      padding-left: 1rem;
      margin-top: 5rem;
      color: $sub-title;
      font-size: 1.2rem;
      text-indent: -1rem;
      line-height: 1.5;

      @include mq-down() {
        margin-top: 3rem;
        font-size: 1.1rem;
        line-height: 1.7;
        color: map-get($colors, "c-gray__light");
      }

      & span {
        font-size: 1.25rem;
        vertical-align: -0.1rem;
        color: $base-color;

        @include mq-down() {
          font-size: 1.1rem;
        }
      }
    }
  }
}