@use "../global" as *;

.p-access {

  &__map {
    width: 100%;
    height: 50rem;

    @include mq-down() {
      height: 10rem;
    }
  }

  &__conts {
    display: flex;

    justify-content: space-between;
    margin-top: 3rem;
    @include mq-down(lg) {
      display: block;
    }
    @include mq-down() {
      display: block;

      margin-top: 25rem;
    }
  }

  &__ttl {
    width: 30%;

    @include mq-down() {
      width: 100%;
    }

    & h1 {
      @include mq-down() {
        line-height: 1.3;
      }
    }

    & p {
      margin-top: 1rem;
      @include mq-down() {
        font-size: 1.5rem;
      }
    }
  }

  &__cont {
      max-width: 70rem;
      @include mq-down(lg) {
        width: 100%;

        margin-top: 5rem;
      }
      @include mq-down() {
        max-width: 100%;
        margin-top: 3rem;
      }

      &--txt {
        font-size: 1.525rem;
        line-height: 2.5rem;
        letter-spacing: .08rem;

        @include mq-down(lg) {
          font-size: 1.35rem;
        }

      @include mq-down() {
        font-size: 1.35rem;
        line-height: 1.8;
        letter-spacing: .1rem;
      }
    }

    &Contact {
      justify-content: flex-start;
      @include mq-down() {
        display: block;

        line-height: 1.3;

        margin-top: 3rem;
      }
    }

    &Addr {
      padding-left: 1.5rem;
      @include mq-down() {
        padding-left: 2rem;
      }

      &--hd {
        color: $default-color;
        font-size: 1.6rem;

        @include mq-down() {
          font-size: 1.6rem;
          margin-bottom: 0.5rem;
          line-height: 1;
        }
      }

      &--txt {
        font-size: 1.5rem;

        margin-top: 1.5rem;

        @include mq-down(lg) {
          font-size: 1.35rem;
        }

        @include mq-down() {
          margin-top: 0;
        }
      }
    }

    &Tel {
      padding-left: 1.5rem;
      margin-left: 7rem;
      @include mq-down() {
        padding-left: 2rem;
        margin-top: 3rem;
        margin-left: 0;
      }

      &--hd {
        color: $default-color;
        font-size: 1.6rem;

        @include mq-down() {
          font-size: 1.6rem;
          margin-bottom: 0.5rem;
          line-height: 1;
        }
      }

      &--txt {
        font-size: 1.5rem;

        margin-top: 1.5rem;

        @include mq-down(lg) {
          font-size: 1.35rem;
        }

        @include mq-down() {
          margin-top: 0;
        }
      }
    }

    &List {
      color: #5a5a5a;;
      font-size: 1.3rem;
      line-height: 1.5;

      padding-left: 1rem;
      margin-top: 5rem;
      text-indent: -1rem;

      @include mq-down(lg) {
        font-size: 1.2rem;
      }

      @include mq-down() {
        color: map-get($colors, "c-gray__light");
        font-size: 1.1rem;
        line-height: 1.3;

        margin-top: 3rem;
      }

      & span {
        color: $base-color;
        font-size: 1.25rem;
        vertical-align: -0.1rem;

        @include mq-down() {
          font-size: 1.1rem;
        }
      }

      & li+li {
        margin-top: 0.5rem;
      }
    }
  }
}