@use "../global" as *;

.p-concept {
  width: 82.5%;
  margin: 0 auto;

  max-width: 1400px;

  &__sec1 {


    &--ttl {
      position: relative;

      &Cont {
        position: absolute;
        top: -6rem;
        left: 0;
        transform: rotate(90deg);

        text-align: center;

        transform-origin: bottom left;
        align-items: center;
      }

      & span {
        margin-left: 1rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &--cont {
      justify-content: space-between;
      align-items: flex-end;
      padding-left: 11rem;

      &Pic {
        position: relative;

        width: 440px;

        &::after {
          display: block;

          position: absolute;

          color: $default-color;
          font-family: $font-family__caveat;
          font-size: 1.5rem;

          content: "Play and laugh a lot in the great nature of the Miura Peninsula";
        }
      }

      &Txt {
        position: relative;

        width: 70%;

        padding-left: 6%;
      }
    }
  }

  &__sec2 {
    margin-top: 25rem;
    margin-right: 0;

    &--cont {

      &Top {
        justify-content: space-between;
      }

      &Txt {
        width: 50%;

        line-height: 3.5rem;

        & p {
          font-size: 1.35rem;
          line-height: 3rem;
        }

      }

      &Pic {
        position: relative;

        padding-left: 5rem;

        &1 {
          position: relative;

          width: 450px;
          height: 300px;
        }

        &2 {
          position: absolute;
          top: 25rem;
          left: 12.5rem;

          width: 300px;
          height: 460px;

          &::after {
            display: block;

            position: absolute;
            top: -5rem;
            right: -7rem;
            transform: rotate(90deg);

            color: $default-color;
            font-family: $font-family__caveat;
            font-size: 1.5rem;
            line-height: 1.3;
            white-space: pre;

            content: "Feel the sea while you sleep\a and eat a delicious breakfast.";

            margin-top: 90%;
            transform-origin: top right;
          }
        }
      }

      &Btm {
        width: 50%;

        margin-top: 20rem;
      }

      &Photo {
        height: 360px;

        background-color: map-get($colors, "c-black");
      }
    }
  }

  &__sec3 {
    text-align: center;

    margin-top: 20rem;

    &--ttl {
      color: map-get($colors, "c-black");
      font-size: 3rem;
    }

    &--txt {
      font-size: 1.5rem;
      line-height: 2;
    }

    &--detail {
      position: relative;

      font-size: 1.5rem;

      margin-top: 3rem;

      & p {

        &::after {
          position: absolute;

          padding: 0.25rem;
          border-radius: 1rem;

          background-color: #1b2f5b;

          color: #ffffff;
          font-size: 0.25rem;

          content: "▶";

          margin-left: 3rem;
        }

      }
    }
  }
}