@use "../global" as *;

.p-concept {
  width: 85%;
  margin: 0 auto;

  max-width: 1400px;

  &__sec1 {


    &--ttl {
      transform: rotate(90deg);

      text-align: center;

      transform-origin: bottom left;

      & p {
        margin-left: 1rem;
      }
    }

    &--cont {
      justify-content: space-between;
      align-items: flex-end;
      padding-left:7rem;

      &Pic {
        width: 440px;
        height: 575px;

        background-color: map-get($colors, "c-black");

        &::after {
          position: absolute;
          bottom: -76rem;
          left: 16rem;
          display: block;
          font-size: 1.5rem;
          font-family: $font-family__caveat;
          content: "Play and laugh a lot in the great nature of the Miura Peninsula";
        }
      }

      &Txt {
        width: 50%;

        padding-left: 6%;
      }
    }
  }

  &__sec2 {
    margin-right: 0;

    &--cont {

      &Top {
        justify-content: space-between;
      }

      &Txt {
        width: 50%;
      }

      &Pic {
        position: relative;

        padding-left: 5rem;

        &1 {
          position: relative;

          width: 450px;
          height: 300px;

          background-color: map-get($colors, "c-black");
        }

        &2 {
          position: absolute;
          top: 15rem;
          left: 12.5rem;

          width: 300px;
          height: 460px;

          background-color: map-get($colors, "c-gray");
        }
      }

      &Btm {
        width: 50%;

        margin-top: 20rem;
      }

      &Photo {
        height: 360px;

        background-color: map-get($colors, "c-black");
      }
    }
  }

  &__sec3 {
    text-align: center;

    &--detail {
      margin-top: 3rem;

      & p::after {
        padding: .25rem;
        border-radius: 1.5rem;

        background-color: $default-color;

        color: map-get($colors, "c-white");
        font-size: .05rem;

        content: "▶";

        margin-left: 1.5rem;
      }
    }
  }
}