@use "../global" as *;

.p-tour {

  background-color: $bg-color;
  padding: 15rem;

  &__ttl {
    text-align: center;
  }

  &__txt {
    text-align: center;
    font-size: 1.35rem;
  }

  &__slider-container {
    position: relative;
    overflow: hidden;
  }

  &__slides {
    justify-content: space-between;
  }

  &__slide {
    background-color: map-get($colors, "c-white");
    padding: 10px;
    margin: 0 20px;
    display: block;

    &--img {
      overflow: hidden;
      width: 100%;
      height: 193px;

      & img {
        width: 100%;
        height: 100%;
        transition: .5s;
      }
    }

    &:hover img {
      transform: scale(1.1);
    }

    &--hd {
      color: $default-color;
    }

    &--txt {
      letter-spacing: 1.5px;
      line-height: 2.5rem;
      font-size: 1.3rem;
    }

    &--date {
      font-size: 1.2rem;
      color: $sub-title;
      padding-bottom: 3rem;
    }
  }

  &__select--contents {
    margin: 0 20px;
    justify-content: space-between;
  }


  &__selects {
    justify-content: left;
    align-items: center;
    margin-top: 1.5rem;

    &--prev {
      font-size: 2rem;
      cursor: pointer;
      margin-right: 3rem;
    }

    &--next {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  &__select {
    background-color: #808080;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    margin: 0 0.5rem;
    cursor: pointer;
  }

  &__pagination {
    position: absolute;
    bottom: -5rem;
    right: 0;
    margin-right: 1rem;

    & li {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: $sub-title;
      margin: 0 1rem;
      position: relative;


      & button {
        font-size: 0pt;
        background: transparent;
        border: 0;
      }

      &.slick-active button::before {
        content: "・";
        width: .75rem;
        height: .75rem;
        border-radius: 50%;
        display: block;
        background-color: $default-color;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}