@use "../global" as *;

.p-tour {

  &__bg {
    position: relative;

    width: 100%;
    margin: 30rem 0 7rem;
    padding: 4rem 0 32rem;
    box-sizing: border-box;

    background: #f4f7f8;

    &::before {
      width: 100%;
      height: 17rem;
      position: absolute;
      top: -16rem;
      left: 0;
      content: "";
      background: url(../../../asset/img/li_bwave3.svg) top center no-repeat;
      background-size: cover;
      z-index: 2;
      display: block;

      @include mq-down() {
        top: -5rem;
      }
    }

    &::after {
      width: 100%;
      height: 15rem;
      position: absolute;
      bottom: -1rem;
      left: 0;
      content: "";
      background: url(../../../asset/img/li_bwave_wt2.svg) top center no-repeat;
      background-size: cover;
      z-index: 2;
      display: block;
    }
  }

  &__ttl {
    text-align: center;


    & p {
      @include mq-down() {
        font-size: 2.5rem;
      }
    }
  }

  &__txt {
    font-size: 1.35rem;
    text-align: center;

    @include mq-down() {
      font-size: 2.5rem;
    }
  }

  &__slider-container {
    overflow: hidden;

    position: relative;
  }

  &__slides {
    justify-content: space-between;
  }

  &__slide {
    display: block;

    margin: 0 20px;
    padding: 10px;

    background-color: map-get($colors, "c-white");

    @include mq-down() {
      max-width: 100%;
    }

    &--img {
      overflow: hidden;

      width: 100%;
      height: 193px;

      @include mq-down() {
        height: auto;
      }

      & img {
        width: 100%;
        height: 100%;

        transition: .5s;
      }
    }

    &:hover img {
      transform: scale(1.1);
    }

    &--txtBox {
      padding: 3rem 2rem 2rem;
    }

    &--hd {
      color: map-get($colors, "c-black");
      font-weight: inherit;

      @include mq-down() {
        font-size: 3rem;
      }

    }

    &--txt {
      font-size: 1.3rem;
      line-height: 2.5rem;
      letter-spacing: 1.5px;

      @include mq-down() {
        font-size: 2.5rem;
        line-height: 1.8;
      }
    }

    &--date {
      color: $sub-title;
      font-size: 1.2rem;

      padding-bottom: 3rem;
      @include mq-down() {
        font-size: 2.5rem;
      }
    }
  }

  &__select--contents {
    margin: 0 20px;

    justify-content: space-between;
  }


  &__selects {
    justify-content: left;
    align-items: center;
    margin-top: 1.5rem;
    @include mq-down() {
      margin-top: 0;
    }

    &--prev {
      font-size: 2rem;

      cursor: pointer;

      margin-right: 3rem;
    }

    &--next {
      font-size: 2rem;

      cursor: pointer;
    }
  }

  &__select {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;

    background-color: #808080;

    color: #ffffff;

    cursor: pointer;
  }

  &__pagination {
    position: absolute;
    right: 0;
    bottom: -5rem;

    margin-right: 1rem;

    & li {
      position: relative;

      width: 0.75rem;
      height: 0.75rem;
      margin: 0 1rem;
      border-radius: 50%;

      background-color: $sub-title;


      & button {
        border: 0;

        background: transparent;

        font-size: 0pt;
      }

      &.slick-active button::before {
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        width: .75rem;
        height: .75rem;
        border-radius: 50%;

        background-color: $default-color;

        content: "・";
      }
    }
  }
}