@use "../global" as *;

.select--contents {

  &News {
    display: none;
    margin: 0 20px;

    justify-content: space-between;

    @include mq-down() {
      font-display: block;
    }
  }

  &Tour {
    margin: 0 20px;

    justify-content: space-between;
  }
}


.selects {
  justify-content: left;
  align-items: center;
  margin-top: 1.5rem;
  @include mq-down() {
    margin-top: 0;
  }

  &--prev {
    font-size: 2rem;

    cursor: pointer;

    margin-right: 1rem;
  }

  &--next {
    font-size: 2rem;

    cursor: pointer;
  }
}

#select {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;

  cursor: pointer;
}

.pagination {

  &News {

    position: absolute;
    right: 0;
    bottom: -5rem;

    margin-right: 1rem;

    display: none;

    @include mq-down() {
      position: static;
      display:flex;
      margin-top: 2rem;
    }

    & li {
      position: relative;

      width: 0.75rem;
      height: 0.75rem;
      margin: 0 1rem;
      border-radius: 50%;

      background-color: $sub-title;


      & button {
        border: 0;

        background: transparent;

        font-size: 0pt;
      }

      &.slick-active button::before {
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        width: .75rem;
        height: .75rem;
        border-radius: 50%;

        background-color: $default-color;

        content: "・";
      }
    }
  }

  &Tour {

    position: absolute;
    right: 0;
    bottom: -5rem;

    margin-right: 1rem;

    @include mq-down() {
      margin-top: 2rem;
    }

    & li {
      position: relative;

      width: 0.75rem;
      height: 0.75rem;
      margin: 0 1rem;
      border-radius: 50%;

      background-color: $sub-title;


      & button {
        border: 0;

        background: transparent;

        font-size: 0pt;
      }

      &.slick-active button::before {
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        width: .75rem;
        height: .75rem;
        border-radius: 50%;

        background-color: $default-color;

        content: "・";
      }
    }
  }
}