@use "../global" as *;

.c-font {

  &__sec {

    &Ttl {

      color: map-get($colors, "c-navy");
      font-size: 5rem;

      @include mq-down() {
        font-size: 4rem;
      }

    }

    &Txt {
      color: $sub-title;
      //margin-top: 1rem;

      @include mq-down() {
        font-size: 2rem;
      }
    }
  }

  &__cont {

    &Ttl {
      font-size: 3rem;
      line-height: 1.5;
      letter-spacing: .25rem;
      color: $default-color;

      @include mq-down() {
        font-size: 2.5rem;
      }
    }

    &Txt {
      margin-top: 3rem;
      line-height: 2;
      font-size: 1.5rem;

      @include mq-down() {
        font-size: 1.5rem;
      }
    }
  }
}

