@use "../global" as *;

.c-font {

  &__sec {

    &Ttl {
      color: map-get($colors, "c-navy");
      font-size: 5rem;

      @include mq-down(lg) {
        font-size: 4rem;
      }
    }

    &Txt {
      color: $sub-title;
      //margin-top: 1rem;

      @include mq-down(lg) {
        font-size: 1.5rem;
      }
    }
  }

  &__cont {

    &Ttl {
      font-size: 2.35rem;
      line-height: 1.5;
      letter-spacing: .25rem;

      @include mq-down(lg) {
        font-size: 2rem;
      }
    }

    &Txt {
      font-size: 1.35rem;
      line-height: 2;

      margin-top: 3rem;
      @include mq-down(lg) {
        font-size: 1.3rem;
      }
    }
  }
}

