@use "../global" as *;

.c-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20px;

  background-color: #ffffff;

  color: rgb(30, 48, 80);

  margin-right: 1rem;
  padding-top: 3.5px;
  @include mq-down() {
    border-radius: 2rem;

    padding-top: 7px;
  }
}