@use "../global" as *;

.c-inner {
  width: 100%;
  max-width: calc(1000px + 6rem);
  margin: 0 auto;
  padding: 0 3rem;
  box-sizing: border-box;
  position: relative;

  @include mq-down() {
    width: 100%;
    max-width: 100%;
    padding: 0 2rem;
  }
}
