@use "../global" as *;

.l-footer {
  width: 100%;
  margin: 0 auto;

  background-color: $default-color;

  color: map-get($colors, "c-white");

  &__contents {
    width: 100%;
    margin: 0 auto;

    text-align: center;

    padding-top: 10rem;
    padding-bottom: 9rem;

    &--title {
      font-family: $font-family__tsuku;

      & h2 {
        margin-top: 0.5rem;
        font-size: 3.75rem;
      }

    }

    &--nav {
      text-align: center;

      & li {
        display: inline-block;
        font-size: 1.35rem;
        letter-spacing: .35rem;

        &+li {
          margin-left: 3.5rem;
        }
      }
    }

    &--reserve {
      width: fit-content;
      margin: 3.5rem auto 0 auto;
      padding: 1rem 2rem;
      border: 1px solid map-get($colors, "c-white");

      text-align: center;
    }

    &--tel {
      margin-top: 3rem;
      font-size: 1.3rem;

      & a {
        font-size: 1.8rem;
        text-decoration: none;
        letter-spacing: 0.08rem;
      }
    }

    &--sns {
      width: 10rem;
      margin: 4rem auto 0 auto;

      & li {
        justify-content: space-between;
        width: 3rem;
        height: 2.2rem;
      }
    }
  }

  &__cr {
    margin: 0 auto;

    background-color: #0a1a3c;

    text-align: center;

    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}