@use "../global" as *;

.l-footer {
  width: 100%;
  margin: 0 auto;

  background-color: $default-color;

  color: map-get($colors, "c-white");

  position: relative;

  &::before {
    width: 101%;
    height: 17rem;
    background: url(.././../../asset/img/li_bwave.svg) 0 0 no-repeat;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: -15rem;
    left: -1%;

    @include mq-down(lg) {
      width: 101%;
      height: 35rem;
      background: url(../../../asset/img/li_bwave.svg) 0 0 no-repeat;
      background-size: 100% auto;
      top: -10rem;
      left: -1%;
    }

    @include mq-down() {
      width: 101%;
      height: 5rem;
      background: url(../../../asset/img/li_bwave.svg) 0 0 no-repeat;
      background-size: 100% auto;
      top: -4rem;
      left: -1%;
    }
  }

  &__pageTop {
    position: fixed;
    right: 0;
    bottom: 5rem;
    z-index: 99;
    opacity: 0;

    @include mq-down() {
      right: -2rem;
    }

    &--link {
      display: block;
      transform: rotate(90deg);
      transition: all 0.5s;
      padding: 1rem;
      color: map-get($colors, "c-black");

      & span {
        font-family: $font-family__caveat;
        font-size: 1.6rem;
        width: min-content;
        position: relative;
        display: block;
        line-height: 1.2rem;
        white-space: nowrap;

        &::before {
          position: absolute;
          top: 50%;
          left: -2.5rem;
          display: block;
          width: 1.5rem;
          height: 1px;
          transition: all 0.5s;
          background-color: map-get($colors, "c-black");
          content: "";
          transform: rotate(180deg);
        }
      }
    }
  }

  &__contents {
    width: 100%;
    margin: 0 auto;

    text-align: center;

    padding-top: 10rem;
    padding-bottom: 9rem;

    &--title {
      font-family: $font-family__tsuku;

      & p {

        @include mq-down() {
          font-size: 1.5rem;
        }

      }

      & h2 {
        font-size: 3.75rem;

        margin-top: 0.5rem;

        @include mq-down() {
          margin-top: -1rem;
          font-size: 3rem;
        }
      }

    }

    &--nav {
      text-align: center;

      & li {
        display: inline-block;

        font-size: 1.35rem;
        letter-spacing: .35rem;

        @include mq-down() {
          display: block;
          list-style: none;
          font-size: 1.5rem;
          margin-top: 3rem;
        }

        &+li {
          margin-left: 3.5rem;
          @include mq-down() {
            margin-left: 0;
            margin-top: 3rem;
          }
        }
      }
    }

    &--reserve {
      width: fit-content;
      margin: 3.5rem auto 0 auto;
      padding: 1rem 2rem;
      border: 1px solid map-get($colors, "c-white");

      text-align: center;

      @include mq-down() {
        margin-top: 5rem;
        font-size: 1.5rem;
        padding: 1.5rem 3rem;
      }

      & p {

        @include mq-down() {
          font-size: 1.5rem;
        }

      }
    }

    &--tel {
      font-size: 1.3rem;

      margin-top: 3rem;

      @include mq-down() {
        margin-top: 5rem;
        font-size: 1.35rem;
      }

      & a {
        font-size: 1.8rem;
        text-decoration: none;
        letter-spacing: 0.08rem;

        @include mq-down() {
          font-size: 2rem;
        }
      }
    }

    &--sns {
      width: 10rem;
      margin: 4rem auto 0 auto;
      display: flex;

      @include mq-down(lg) {
        margin-top: 5rem;
        width: 100%;
        display: block;
      }


      & li {
        width: 3rem;
        height: 2.2rem;

        justify-content: space-between;

        @include mq-down(lg) {
          width: 3rem;
          height: 3rem;
          border-radius: 2rem;
        }


        &::before {
          font-size: 2rem;
          margin-top: 4rem;
        }
      }
    }
  }

  &__cr {
    margin: 0 auto;

    background-color: #0a1a3c;

    text-align: center;

    position: relative;

    padding: 5rem 0;

    @include mq-down(lg) {
      padding: 3rem 0;
    }


    & p {

      font-size: 2rem;

      @include mq-down(lg) {
        font-size: 1rem;
      }

      @include mq-down() {
        font-size: 1.35rem;
      }

      &::before {
        width: 100%;
        height: 3rem;
        background-image: url(../../../asset/img/li_bwave2.svg) 0 0 no-repeat;
        background-size: 100% auto;
        content: "";
        display: block;
        position: absolute;
        top: -1rem;
        left: -1%;
      }
    }
  }
}