.l-header {

  height: 100vh;
  width: 100%;
  background-color: blue;
  position: relative;

  &__toggle {
    width: 48px;
    top: 25px;
    right: 25px;
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;

    &--box {
      position: relative;
      width: 36px;
      height: 32px;
      cursor: pointer;
    }

    &--bar {
      display: block;
      transition: ease .4s;
      width: 100%;
      height: 1px;
      left: 0;
      background-color: #ffffff;
      position: absolute;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        margin: 8px 0;
      }

      &:nth-of-type(3) {
        top: 0;
      }
    }
  }

  &__menu {
    width: 100%;
    height: 100vh;
    background-color: #1b2f5b;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    margin: 0 auto;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    transform: translateX(100%);

    &--title {

      & h2 {
        font-family: "ヒラギノ明朝 ProN";
        font-size: 2rem;
      }

    }

    &--content {
      margin-top: 50px;

      &:first-child {
        margin-top: 0;
      }
    }

    &--reserve {
      margin-top: 50px;
    }

    &--sns {
      margin-top: 50px;
    }

    &--contact {

      & h3 {
        margin-top: 50px;
      }
    }
  }

  &__title {
    padding-top: 3rem;
    text-align: center;


    & h1 {
      font-family: "ヒラギノ明朝 ProN";
      font-size: 2rem;
    }

    & ,p, h1 {
      color: #ffffff;
    }
  }
}