@use "../global" as *;

.l-header {
  overflow: hidden;

  position: relative;
  z-index: 1;

  width: 100%;
  height: 100vh;

  &__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__wrap {
    position: fixed;
    width: 100%;
    z-index: 100;

    @include mq-down(lg) {
      top: 0;
      left: 0;
      height: 9rem;
      position: fixed;
      z-index: 102;
    }

    @include mq-down() {
      height: 7rem;

      background-color: rgb(0, 0, 0, 0);
    }
  }

  &__siteTtl {
    top: 3rem;
    left: 3rem;
    z-index: 1000;
    position: absolute;

    transition: all 0.5s;
    opacity: 0;

    @include mq-down(lg) {
      opacity: 0;
      top: 2.5rem;
      color: #fff;
    }

    @include mq-down() {
      opacity: 1;
      top: 1.5rem;
      left: 1.5rem;
    }

    &--hd {

      transition: all 0.5s ease;

      @include mq-down() {
        line-height: 2rem;
      }

      & p {
        font-size: 1.2rem;
        display: block;

        @include mq-down() {
          font-size: 1.1rem;
          z-index: 1000;
          opacity: 1 !important;
        }
      }

      & h1 {
        font-size: 2.8rem;
        display: block;

        @include mq-down() {
          font-size: 2.25rem;
        }
      }
    }
  }

  &__reserve {
    top: calc(50vh - 8rem);
    right: 1rem;
    position: absolute;
    z-index: 1000;
    opacity: 0;

    @include mq-down(lg) {
      top:0;
      right: 10rem;
    }

    @include mq-down() {
      top: 0;
      right: 7rem;

      opacity: 0;
    }

    & a {
      display: flex;

      width: 5rem;
      height: 18rem;

      background-color: $default-color;

      color: #ffffff;
      font-family: $font-family__tsuku;
      line-height: 1;
      text-align: center;

      transition: all 0.5s;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include mq-down(lg) {
        width: 9rem;
        height: 9rem;
        font-size: 1.5rem;

        writing-mode: horizontal-tb;
        flex-direction: unset;
      }
      @include  mq-down() {
        width: 7rem;
        height: 7rem;
      }

      &::after {
        padding: 0.25rem;
        border-radius: 1.2rem;

        background-color: map-get($colors, "c-white");

        color: $default-color;
        font-size: .05rem;

        content: "▶";

        margin-top: 2rem;
        @include mq-down(lg) {
          background-color: $default-color;

          color: map-get($colors, "c-white");

          content: "ご予約";

          margin-top: 0;
        }
        @include mq-down() {
          font-size: 1.3rem;
        }

      }

      & span {
        display: block;

        writing-mode: vertical-rl;
        @include mq-down(lg) {
          display: none;
        }
      }
    }
  }

  &__toggle {
    opacity: 1;
    position: absolute;
    top: 3rem;
    right: 5rem;
    z-index: 1000;

    @include mq-down(lg) {
      display: flex;
      top: 0;
      right: 0;

      width: 10rem;
      height: 8rem;

      align-items: center;
      justify-content: center;

      background: rgb(0, 0, 0, 0);
    }

    @include mq-down() {
      width: 7rem;
      height: 7rem;
      top: -0.5rem;

    }

    &--box {
      position: relative;

      text-align: center;

      cursor: pointer;

      width: 4rem;

      @include mq-down() {
        width:3rem;
      }

      &::after  {
        display: block;

        position: absolute;
        width: 2rem;
        margin: 0 auto;

        color: #fff;

        font-family: $font-family__caveat;
        font-size: 2.5rem;
        text-align: center;

        content: "menu";

        @include mq-down() {
          font-size: 1.75rem;
          top: 2rem;
          right: 1.15rem;
        }
      }
    }

    & span {
      display: block;

      width: 5rem;
      height: 1rem;
      background-size: 100% 0.75rem;

      margin: 0 auto;

      transition: ease .4s;

      @include mq-down(lg) {
        width: 4rem;
        height: 1rem;
      }

      @include mq-down() {
        width: 3rem;
        height: 1rem;
        background-size: 100% auto;
      }



    }
  }

  &__menu {
    display: flex;
    overflow: auto;
    opacity: 0;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    transform: translateX(-100%);

    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 5%;

    background-color: #1b2f5b;

    color: #ffffff;
    text-align: center;

    transition: ease .5s;

    justify-content: space-between;
    align-items: center;


    @include mq-down() {
      height: auto;

      text-align: left;

      padding-top: 5rem;
      padding-bottom: 15rem;

    }

    &__nav {
      @include mq-down() {
        max-width: 100%;
      }
    }


    &--contents {
      width: 100%;
      height: 10%;
      margin: 0 auto;

      text-align: left;

      max-width: calc(98rem + 12%);
      align-items: center;
      display: flex;
      justify-content: space-between;

      padding-top: 10rem;
      padding-bottom: 10rem;
      padding-left: 5%;

      @include mq-down(lg) {
        display: block;
        min-width: 100%;
        padding-top: 0;
        margin-top: 0;
        padding-right: 50%;
      }

      @include mq-down() {
        padding-bottom: 0;
        padding-right: 0;
      }
    }

    &--ttl {
      z-index: 990;

      width: 32rem;

      max-width: 32rem;

      @include mq-down(lg) {
        display: none;
        position: fixed;
      }

      &::after {
        width: 7rem;
        height: 7.5rem;
        background: url(../../../asset/img/il_seagull_wt.svg) 0 0 no-repeat;
        background-size: auto 100%;
        display: block;
        content: "";
        position: absolute;
        bottom: 15rem;
        left: 10rem;
      }

      & p {
        font-size: 1.5rem;

        @include mq-down() {
          font-size: 2rem;
        }
      }

      & h2 {
        font-family: $font-family__hiragino--proN;
        font-size: 3.5rem;

        @include mq-down() {
          width: 100vw;

          font-size: 4.5rem;
        }
      }
    }

    &--nav {

      width: 50%;
      margin-top: 10rem;
      padding-bottom: 10rem;

      @include mq-down(lg) {
        height: auto;
        width: 100%;
        margin-top: -25rem;
        padding-top: 2rem;
      }

      @include mq-down() {
        margin-top: -12rem;
      }
    }

    &--list {
      height: auto;

      min-width: 100%;

      @include mq-down() {
        padding-top: 2rem;
      }
    }

    &--content {
      display: inline-block;

      width: 100%;
      margin-top: 5rem;
      padding-bottom: 0.5rem;

      font-size: 1.6rem;


      @include mq-down(lg) {
        margin-top: 5rem;
      }

      @include mq-down() {
        margin-top: 1rem;
      }

      & a {

        @include mq-down(lg) {
          font-size: 2rem;
        }

        @include mq-down() {
          font-size: 1.5rem;
        }

        &:hover {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
          background-position: 0 100%;
          background-size: auto 6px;
          background-repeat: repeat-x;
          text-decoration: none;
          padding-bottom: 0.5rem;
          transition: 0;
        }
      }

      &:first-child {
        margin-top: 0;

        @include mq-down(lg) {
          margin-top: .5rem;
        }
      }

      &.reserve {
        width: 100%;
        padding: 1.5rem;
        border: 1px solid #fff;

        text-align: center;
        margin-top: 3rem;

        background: none;

        @include mq-down(lg) {
          margin-top: 5rem;
          display: block;
        }
      }
    }
  }

  &__sns {
    margin-top: 5rem;
    @include mq-down() {
      margin-top: 7rem;
    }


    & li {
    width: 3rem;
    height: 3rem;

      &:before {
        display: inline-block;

        @include mq-down() {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 4rem;
        }


        font-size: 2rem;

        padding-left: 0.5rem;
      }
    }
  }

  &__contact {

    &::after {
      @include mq-down() {
        width: 4rem;
        height: 5rem;
        background: url(../../../asset/img/il_seagull_wt.svg) 0 0 no-repeat;
        background-size: auto 100%;
        display: block;
        content: "";
        position: absolute;
        bottom: -22rem;
        right: 3.5rem;
        transform: scale(-1, 1);
      }
    }

    & h3 {
      margin-top: 50px;
      font-size: 2rem;

      @include mq-down() {
        font-size: 1.5rem;
      }
    }

    & p {
      margin-top: 2rem;
      font-size: 1.75rem;

      @include mq-down(lg) {
        font-size: 1.5rem;
      }

      @include mq-down() {
        margin-top: 1rem;
        font-size: 1.2rem;
      }
    }
  }


  &__ttl {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 4;

    line-height: 2rem;
    text-align: center;

    padding-top: 5rem;
    margin-left: -25rem;
  @include mq-down() {
    display: none;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;

    text-align: left;
  }
    @include mq-down() {
      opacity: 1;

      font-size: 1rem;

      margin-left: 0;
      padding-top: 0;
    }

    &--txt {
      font-family: $font-family__hiragino--proN;
      font-size: 3rem;

      @include mq-down() {
        font-size: 1rem;
      }

    }

    &--hd {
      font-family: $font-family__times;
      font-size: 6.5rem;
      margin-top: 3.5rem;

      @include mq-down() {
        margin-top: 0.5rem;
        font-size: 2.5rem;
      }
    }

    & ,p, h1 {
      color: #ffffff;
    }
  }

  &__slider {
    position: relative;
    top: 0;

    &--img {
      width: 100vw;
      height: 100vh;

      @include mq-down() {
        height: 100vh;
      }
    }
  }

  &__pagination {
    display: flex;

    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    padding: 0 45%;

    justify-content: space-around;
    @include mq-down() {
      left: 5rem;
      bottom: 2rem;

      padding: 0 40%;
    }

    &--circle {
      position: relative;

      width: .75rem;
      height: .75rem;
      border-radius: 5rem;

      background-color: $sub-title;

      @include mq-down() {
        width: 0.8rem;
        height: 0.8rem;
      }

      &.target::before {
        display: block;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: .75rem;
        height: .75rem;
        border-radius: 5rem;

        background-color: #ffffff;

        content: "";

        @include mq-down() {
          width: 0.8rem;
          height:0.8rem;
        }
      }
    }
  }

  &__copy {
    position: absolute;
    top: 70%;
    left: 3.5rem;
    z-index: 9;
    transform: rotate(-90deg);

    color: #ffffff;
    font-family: $font-family__caveat;
    font-size: 2.5rem;
    letter-spacing: 0.08rem;

    transform-origin: left;
    @include mq-down() {
      top: 70%;
      font-size: 2rem;
      left: 2rem;
    }
  }

  &__scroll {

    &--down {
      overflow: hidden;

      position: absolute;
      right: -4rem;
      bottom: 6rem;
      z-index: 4;
      transform: rotate(90deg);

      color: #ffffff;
      font-family: $font-family__caveat;
      letter-spacing: 0.2rem;

      padding-right: 10rem;
      @include mq-down() {
        display: block;
        right: -6rem;

        bottom: 4rem;

        font-size: 3.5rem;
      }

      &::before {
        position: absolute;
        top: 1rem;
        right: 0.5rem;

        width: 7rem;
        height: 1px;

        background-color: #ffffff;

        content: "";

        animation: borderLong 3s ease 0s infinite normal;
        animation: borderShort 3s ease 0s infinite normal;

        @include mq-down() {
          top: 1.5rem;
        }
      }

      & p {
        @include mq-down() {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.home a {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  padding-bottom: 0.5rem;
}


/* scroll */

.is-visible {
  opacity: 1;
}

.l-header__wrap.is-visible {

  @include mq-down(lg) {
    background-color: white;
  }

  & .l-header__siteTtl {

    opacity: 1;

    @include mq-down(lg) {
      background-color: white;
      opacity: 1;
    }

    &--hd {
      opacity: 0;

      @include mq-down(lg) {
        opacity: 1;
      }
    }
  }

  & .l-header__reserve {
    opacity: 1;
  }

  &.open .l-header__reserve {
    opacity: 0;
  }
}

.is-hidden {
  opacity: 0;
}

.initial {
  position: initial;
}


.changeFntColor {
  color: $default-color;
}

.defaultColor {
  background: url(../../../asset/img/line_menu_wt.svg) 0 0 no-repeat;
}

.changeColor {
  background: url(../../../asset/img/line_menu.svg) 0 0 no-repeat;
}

.l-header__toggle--box.changeFntColor::after {
  color: $default-color;
}

/* keyframes */
@keyframes borderShort {
  0%  {
    right: 0
  }
  100%  {
    right: -30rem
  }
}

@keyframes borderLong {
  0%  {
    right: 0
  }
  100%  {
    right: -30rem
  }
}

#loading {
  width: 100vw;
  height: 100wh;

  &.loaded {
    animation: loading 3s forwards;
  }
}

@keyframes loading {
  from {
    opacity: 1;
  } to {
    display: none;
    opacity: 0;

    z-index: -1;
  }
}

