@use "../global" as *;

.l-header {
  position: relative;

  width: 100%;
  height: 100vh;

  background-color: blue;

  &__toggle {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1000;

    &--box {
      position: relative;

      width: 4rem;
      height: 32px;

      text-align: center;

      cursor: pointer;

      &::after  {
        display: block;

        position: absolute;
        top: 115%;

        width: 3rem;
        margin: 0 auto;

        color: #ffffff;
        font-family: $font-family__caveat;
        font-size: 1.5rem;
        text-align: center;

        content: "menu";
      }
    }

    &--bar {
      display: block;

      position: absolute;
      left: 0;

      width: 3rem;
      height: 1px;

      background-color: #ffffff;

      transition: ease .4s;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }
  }

  &__menu {
    display: flex;
    overflow: auto;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    transform: translateX(-100%);

    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 25%;

    background-color: #1b2f5b;

    color: #ffffff;
    text-align: center;

    transition: ease .4s;

    justify-content: space-between;
    align-items: center;


    &--ttl {
      z-index: 990;

      width: 32rem;

      max-width: 32rem;

      & h2 {
        font-family: $font-family__hiragino--proN;
        font-size: 2rem;
      }

    }

    &--contents {
      text-align: left;
    }

    &--content {
      margin-top: 50px;

      &:first-child {
        margin-top: 0;
      }
    }

    &--reserve {
      margin-top: 50px;
    }

    &--sns {
      margin-top: 50px;
    }

    &--contact {

      & h3 {
        margin-top: 50px;
      }
    }
  }

  &__ttl {
    text-align: center;
    line-height: 5rem;
    padding-top: 5rem;

    &--txt {
      font-size: 2.5rem;
      font-family: $font-family__hiragino--proN;
    }

    &--hd {
      font-family: $font-family__times;
      font-size: 4.5rem;
    }

    & ,p, h1 {
      color: #ffffff;
    }
  }

  &__copy {
    position: absolute;
    top: 60%;
    left: 3rem;
    z-index: 9;
    transform: rotate(-90deg);

    color: #ffffff;
    font-size: 2rem;
    font-family: $font-family__caveat;

    transform-origin: left;
  }

  &__scroll {
    position: absolute;
    right: -5rem;
    bottom: 8rem;
    z-index: 4;
    transform: rotate(90deg);

    color: #ffffff;
    font-family: $font-family__caveat;

    padding-right: 10rem;

    &::before {
      position: absolute;
      top: 1rem;
      right: 2rem;

      width: 5rem;
      height: 1px;

      background-color: #ffffff;

      content: "";
    }
  }
}