// カラーパレット //
$colors:(
  "c-navy": #1b2f5b,
  "c-white": #ffffff,
  "c-black": #000000,
  "c-gray": #9a9fa7
);

// 変数定義 //
$default-color:map-get($colors,"c-navy");
$sub-title:map-get($colors, "c-gray");


// 関数定義 //
@function colors($key) {
  @return map-get($colors, $key);
}

