.u-margin {

  &__top10 {
    margin-top: 10rem;
  }

  &__top7 {
    margin-top: 7rem;
  }

  &__top5 {
    margin-top: 5rem;
  }

  &__top3 {
    margin-top: 3rem;
  }

  &__center {
    margin: 0 auto;
  }
}
